In [1]:
# Import required libraries
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
from jupyter_dash import JupyterDash
import plotly.express as px
import plotly.graph_objects as go

In [35]:
from platform import python_version

print(python_version())

3.9.7

Running in Jupyter, call the following function to detect the proxy configuration.

In [31]:
file_loc = r"C:\Users\barbj\OneDrive\Desktop\last_four_months.csv"

df = pd.read_csv(file_loc)

In [32]:
df.head()

,Item Name,Global Category,Major Category,Minor Category,Item Quantity,Item/Cover %,Average Item Price,Gross Sales,Net Sales
0,do what's in your heart (10oz),BEVERAGE,ALCOHOL,10OZ DRAUGHT,91.0,4.80,7.00,637.0,637.0
1,kitty paws sour ipa 10oz,BEVERAGE,ALCOHOL,10OZ DRAUGHT,9.0,0.47,7.00,63.0,63.0
2,field artillery,BEVERAGE,ALCOHOL,64OZ GROWLER FILLS,9.0,0.47,24.33,219.0,200.0
3,brute squad 4oz,BEVERAGE,ALCOHOL,4OZ DRAUGHT,9.0,0.47,4.00,36.0,36.0
4,socially acceptable,BEVERAGE,ALCOHOL,10OZ DRAUGHT,8.0,0.42,6.00,48.0,48.0

#### Explore dataset

In [33]:
df_avgs = pd.DataFrame(round(df.groupby(['Minor Category'])['Net Sales'].mean(), 2))
df_avgs

                    Net Sales
Minor Category
10OZ DRAUGHT           509.93
16OZ DRAUGHT          1371.83
32OZ GROWLER FILLS      31.89
4OZ DRAUGHT             33.22
64OZ GROWLER FILLS     173.17
BEER FLIGHTS          2242.29
CLOTHING                50.40
FOOD                    65.67
GIFT CARDS             991.00
KEGS                   163.50
MERCHANDISE             78.50
PACKAGED GOODS         631.67
PRIVATE EVENTS        2400.00

#### Create a dash application

In [34]:
# Import required libraries
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output, State
from jupyter_dash import JupyterDash
import plotly.express as px
import plotly.graph_objects as go 

file_loc = r"C:\Users\barbj\OneDrive\Desktop\last_four_months.csv"
#file_loc = "https://www.pythonanywhere.com/user/Barbj3799/files/home/Barbj3799/mysite/last_four_months.csv?edit"

df = pd.read_csv(file_loc)

# Create a dash application
app = JupyterDash(__name__)
server=app.server

app.layout= html.Div(children=[
 # New Div for all elements in the new 'row' of the page
    html.Div([ 
        html.H1(children='Two Ton Dash'),
           html.Div(children='''
            Sales report of last fiscal half.
            
        '''),
    html.Div([dcc.Graph(id='graph0'),
       html.Label(["Category",
                dcc.Dropdown(
                id='category-dropdown', clearable=False,
                value='ALCOHOL', options=[
                    {'label': c, 'value': c}
                    for c in df['Major Category'].unique()])
                ]),
           
        ]),
    ])
])


# Callback function that automatically updates the tip-graph based on chosen colorscale
@app.callback(
    Output('graph0', 'figure'),
    [Input("category-dropdown", "value")]
)
def update_figure(Category):
    new_df = df[df['Major Category']==Category]
    new_df = new_df.groupby(['Minor Category', 'Item Name'])['Net Sales'].sum().reset_index()
    new_df.reset_index()
    fig=px.bar(
        new_df, x="Minor Category", y="Net Sales",  color="Item Name",
        color_continuous_scale=Category,
        title="Items")
    return fig
        
if __name__ == '__main__':
    app.run_server(debug=True)
# Create an app layout

Dash app running on http://127.0.0.1:8050/

Build Dash application